@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-contain {
    object-fit: cover;
    object-position: 50% 50%; /* Centers the focal point */
    width: 100%;
    height: 100%;
  }
}


main {
  overflow-x: hidden;
}

/* Ensure sections stack properly */
section {
  isolation: isolate;
  position: relative;
}

.font-\[\'Plus_Jakarta_Sans\'\] {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


body {
  color: var(--foreground);
  background: transparent;
  font-family: Arial, Helvetica, sans-serif, var(--font-inter);
}

html, body {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}



/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/


/* Remove background color override 
body {
  color: var(--foreground);
  background: transparent;
  font-family: Arial, Helvetica, sans-serif, var(--font-inter);
}*/

/*
.background {
  background-image: url('/background.svg');
  background-size: cover;
  background-position: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
} 
*/

/* Add this to override default body styles 
body.background {
  background: transparent !important;
  color: var(--foreground);
}
*/